@media screen and (max-width: 320px) {

    .main_back1 {
        width: 150px;
        height: 120px;
        background-image: url("../images/main1s_back.svg");
    }

    .main_back2 {
        width: 200px;
        height: 180px;
        background-image: url("../images/main2s_back.svg");
    }

    .logo {
        margin-top: 50px;
    }

    .icon1_img {
        width: 40px;
        height: 40px;
    }

    .icon2_img {
        width: 76px;
        height: 31px;
    }

    .title h1 {
        margin-top: 30px;
        font-size: 32px;
    }

    .title p {
        margin-top: 20px;
        width: 80%;
        font-size: 15px;
    }

    .timer {
        width: 100%;
    }

    .time_twopoint {
        font-size: 32px;
    }

    .time_num {
        font-size: 32px;
    }

    .time_inner_desc {
        height: 35px;
        font-size: 10px;
    }

    .goto {
        margin-top: 50px;
    }

    .goto p {
        font-size: 14px;
    }

    .goto a {
        margin-top: 18px;
    }

    footer {
        flex-direction: column;
        height: 100px;
    }

    .inner_footer {
        width: 280px;
    }

    .log_inp {
        height: 40px;
    }

    .log_inp input {
        padding: 0 0 0 20px;
        font-size: 14px;
    }

    .log_btn {
        width: 33px;
        height: 33px;
    }

    /**/
    .btn_event {
        position: relative;
        padding: 0;
        width: 130px;
        height: 30px;
        top: 10px;
        right: 0;
    }

    .btn_event a {
        font-size: 16px;
    }

    .title2 {
        font-size: 36px;
    }

    .row {
        height: 80%;
        width: 100%;
        flex-direction: column;
        padding-bottom: 140px;
    }

    .line_block {
        align-items: center;
        flex-direction: row;
        padding-left: 20px;
        width: 100%;
        height: 85px;
    }

    .line_block_back {
        background: linear-gradient(0.25turn, #162C4E, #121212);
    }

    .line_desc {
        height: 170px;
    }

    .line_inner_desc {
        height: 100%;
        width: 100%;
    }

    .line_inner_desc_back {
        padding: 0;
        padding-left: 30px;
        align-items: baseline;
        justify-content: center;
    }

    .line_num {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    .line_text {
        padding-left: 15px;
        align-items: center;
        height: 100%;
        font-size: 18px;
    }

    .line_inner_desc_back a {
        width: 170px;
        height: 50px;
        font-size: 16px;
    }

    .line_inner_desc_back p {
        margin: 0;
        padding: 5px 0;
        width: 170px;
        font-size: 14px;
    }

    .line_inner_desc_back h1 {
        margin: 0;
        padding: 5px 0;
        width: 170px;
        font-size: 16px;
    }



}


@media screen and (min-width: 320px) and (max-width: 480px) {

    .main_back1 {
        width: 180px;
        height: 150px;
        background-image: url("../images/main1s_back.svg");
    }

    .main_back2 {
        width: 250px;
        height: 200px;
        background-image: url("../images/main2s_back.svg");
    }

    .logo {
        margin-top: 50px;
    }

    .icon1_img {
        width: 40px;
        height: 40px;
    }

    .icon2_img {
        width: 76px;
        height: 31px;
    }

    .title h1 {
        margin-top: 30px;
        font-size: 36px;
    }

    .title p {
        margin-top: 20px;
        width: 80%;
        font-size: 16px;
    }

    .timer {
        width: 100%;
    }

    .time_twopoint {
        font-size: 36px;
    }

    .time_num {
        font-size: 36px;
    }

    .time_inner_desc {
        height: 40px;
        font-size: 12px;
    }

    .goto {
        margin-top: 50px;
    }

    .goto p {
        font-size: 16px;
    }

    .goto a {
        margin-top: 20px;
    }

    footer {
        flex-direction: column;
        height: 100px;
    }

    .inner_footer {
        width: 280px;
    }

    .log_inp {
        height: 40px;
    }

    .log_inp input {
        padding: 0 0 0 20px;
        font-size: 14px;
    }

    .log_btn {
        width: 33px;
        height: 33px;
    }

    /**/

    .btn_event {
        position: relative;
        padding: 0;
        width: 130px;
        height: 30px;
        top: 10px;
        right: 0;
    }

    .btn_event a {
        font-size: 16px;
    }

    .title2 {
        font-size: 36px;
    }

    .row {
        width: 100%;
        flex-direction: column;
        padding-bottom: 140px;
    }

    .line_block {
        align-items: center;
        flex-direction: row;
        padding-left: 20px;
        width: 100%;
        height: 85px;
    }

    .line_block_back {
        background: linear-gradient(0.25turn, #162C4E, #121212);
    }

    .line_desc {
        height: 170px;
    }

    .line_inner_desc {
        height: 100%;
        width: 100%;
    }

    .line_inner_desc_back {
        padding: 0;
        padding-left: 30px;
        align-items: baseline;
        justify-content: center;
    }

    .line_num {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    .line_text {
        padding-left: 15px;
        align-items: center;
        height: 100%;
        font-size: 18px;
    }

    .line_inner_desc_back a {
        width: 170px;
        height: 50px;
        font-size: 16px;
    }

    .line_inner_desc_back p {
        margin: 0;
        padding: 5px 0;
        width: 170px;
        font-size: 14px;
    }

    .line_inner_desc_back h1 {
        margin: 0;
        padding: 5px 0;
        width: 170px;
        font-size: 16px;
    }

}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .main_back1 {
        width: 200px;
        height: 150px;
        background-image: url("../images/main1s_back.svg");
    }

    .main_back2 {
        width: 270px;
        height: 220px;
        background-image: url("../images/main2s_back.svg");
    }

    .logo {
        margin-top: 50px;
    }

    .icon1_img {
        width: 40px;
        height: 40px;
    }

    .icon2_img {
        width: 76px;
        height: 31px;
    }

    .title h1 {
        margin-top: 30px;
        font-size: 36px;
    }

    .title p {
        margin-top: 20px;
        width: 80%;
        font-size: 16px;
    }

    .timer {
        width: 100%;
    }

    .time_twopoint {
        font-size: 36px;
    }

    .time_num {
        font-size: 36px;
    }

    .time_inner_desc {
        height: 40px;
        font-size: 12px;
    }

    .goto {
        margin-top: 50px;
    }

    .goto p {
        font-size: 16px;
    }

    .goto a {
        margin-top: 20px;
    }

    footer {
        flex-direction: column;
        height: 100px;
    }

    .inner_footer {
        width: 280px;
    }

    .log_inp {
        height: 40px;
    }

    .log_inp input {
        padding: 0 0 0 20px;
        font-size: 14px;
    }

    .log_btn {
        width: 33px;
        height: 33px;
    }

    /**/

    .btn_event {
        position: relative;
        padding: 0;
        width: 130px;
        height: 30px;
        top: 10px;
        right: 0;
    }

    .btn_event a {
        font-size: 16px;
    }

    .title2 {
        font-size: 36px;
    }

    .row {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding-bottom: 140px;
    }

    .line_block {
        align-items: center;
        flex-direction: row;
        padding-left: 20px;
        width: 100%;
        height: 85px;
    }

    .line_block_back {
        background: linear-gradient(0.25turn, #162C4E, #121212);
    }

    .line_desc {
        height: 170px;
    }

    .line_inner_desc {
        height: 100%;
        width: 100%;
    }

    .line_inner_desc_back {
        padding: 0;
        padding-left: 30px;
        align-items: baseline;
        justify-content: center;
    }

    .line_num {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    .line_text {
        height: 100%;
        padding-left: 15px;
        align-items: center;
        font-size: 18px;
    }

    .line_inner_desc_back a {
        width: 170px;
        height: 50px;
        font-size: 16px;
    }

    .line_inner_desc_back p {
        margin: 0;
        padding: 5px 0;
        width: 170px;
        font-size: 14px;
    }

    .line_inner_desc_back h1 {
        margin: 0;
        padding: 5px 0;
        width: 170px;
        font-size: 16px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .main_back1 {
        width: 290px;
        height: 240px;
        background-image: url("../images/main1s_back.svg");
    }

    .main_back2 {
        width: 470px;
        height: 350px;
        background-image: url("../images/main2s_back.svg");
    }

    .logo {
        margin-top: 110px;
    }

    .icon1_img {
        width: 60px;
        height: 60px;
    }

    .icon2_img {
        width: 113px;
        height: 47px;
    }

    .title h1 {
        margin-top: 150px;
        font-size: 36px;
    }

    .title p {
        margin-top: 10px;
        width: 65%;
        font-size: 16px;
    }

    .timer {
        width: 60%;
    }

    .time_twopoint {
        font-size: 36px;
    }

    .time_num {
        font-size: 36px;
    }

    .time_inner_desc {
        height: 40px;
        font-size: 12px;
    }

    .goto {
        margin-top: 50px;
    }

    .goto p {
        font-size: 16px;
    }

    .goto a {
        margin-top: 20px;
    }

    footer {
        /**/
        flex-direction: column;
        /**/
        height: 160px;
    }

    .inner_footer {
        width: 360px;
    }

    .log_inp {
        height: 40px;
    }

    .log_inp input {
        padding: 0 0 0 20px;
        font-size: 14px;
    }

    .log_btn {
        width: 33px;
        height: 33px;
    }

    /**/

    .btn_event {
        position: relative;
        padding: 0;
        width: 160px;
        height: 30px;
        top: 10px;
        right: 0;
    }

    .btn_event a {
        font-size: 20px;
    }

    .title2 {
        font-size: 36px;
    }

    .row {
        height: 70%;
        flex-direction: column;
    }

    .line_block {
        align-items: center;
        flex-direction: row;
        padding-left: 20px;
        width: 100%;
        height: 85px;
    }

    .line_block_back {
        background: linear-gradient(0.25turn, #162C4E, #121212);
    }

    .line_inner_desc {
        height: 170px;
        width: 100%;
        height: 100%;
    }

    .line_inner_desc_back {
        padding-left: 30px;
        align-items: baseline;
        justify-content: center;
    }

    .line_num {
        width: 32px;
        height: 32px;
        font-size: 32px;
    }

    .line_text {
        height: 100%;
        padding: 15px;
        font-size: 24px;
    }

    .line_inner_desc_back a {
        width: 170px;
        height: 50px;
        font-size: 16px;
    }

    .line_inner_desc_back p {
        width: 170px;
        font-size: 16px;
    }

    .line_inner_desc_back h1 {
        width: 170px;
        font-size: 18px;
    }


    /**/
}

@media screen and (min-width: 1023px) and (max-width: 1280px) {

    .main_back1 {
        width: 350px;
        height: 280px;
        background-image: url("../images/main1_back.svg");
    }

    .main_back2 {
        width: 370px;
        height: 250px;
        background-image: url("../images/main2_back.svg");
    }

    .logo {
        margin-top: 20px;
    }

    .icon1_img {
        width: 60px;
        height: 60px;
    }

    .icon2_img {
        width: 113px;
        height: 47px;
    }

    .title h1 {
        margin-top: 20px;
        font-size: 36px;
    }

    .title p {
        margin-top: 10px;
        width: 65%;
        font-size: 16px;
    }

    .timer {
        width: 60%;
    }

    .time_twopoint {
        font-size: 36px;
    }

    .time_num {
        font-size: 36px;
    }

    .time_inner_desc {
        height: 40px;
        font-size: 12px;
    }

    .goto {
        margin-top: 20px;
    }

    .goto p {
        font-size: 16px;
    }

    .goto a {
        margin-top: 10px;
    }

    footer {
        height: 130px;
    }

    .inner_footer {
        width: 360px;
    }

    .log_inp {
        height: 40px;
    }

    .log_inp input {
        padding: 0 0 0 20px;
        font-size: 14px;
    }

    .log_btn {
        width: 33px;
        height: 33px;
    }

    /**/

    .btn_event {
        position: absolute;
        padding: 0;
        width: 160px;
        height: 30px;
        right: 120px;
    }

    .btn_event a {
        font-size: 20px;
    }

    .title2 {
        font-size: 60px;
    }

    .row {
        height: 60%;
        flex-direction: row;
    }

    .line_block {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 85px;
        height: 100%;
        padding: 15px 0;
    }

    .line_inner_desc {
        width: 45%;
    }

    .line_num {
        width: 42px;
        height: 42px;
        font-size: 34px;
    }

    .line_text {
        height: 100%;
        padding: 15px 0;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 20px;
    }

    .line_inner_desc_back a {
        width: 200px;
        height: 50px;
        font-size: 16px;
    }

    .line_inner_desc_back p {
        width: 200px;
        font-size: 16px;
    }

    .line_inner_desc_back h1 {
        width: 200px;
        font-size: 20px;
    }



}

@media screen and (min-width: 1280px) and (max-width: 1600px) {

    .main_back1 {
        width: 420px;
        height: 350px;
        background-image: url("../images/main1_back.svg");
    }

    .main_back2 {
        width: 440px;
        height: 320px;
        background-image: url("../images/main2_back.svg");
    }

    .logo {
        margin-top: 30px;
    }

    .icon1_img {
        width: 60px;
        height: 60px;
    }

    .icon2_img {
        width: 113px;
        height: 47px;
    }

    .title h1 {
        margin-top: 35px;
        font-size: 60px;
    }

    .title p {
        width: 55%;
        font-size: 17px;
    }

    .timer {
        width: 30%;
    }

    .time_twopoint {
        font-size: 60px;
    }

    .time_num {
        font-size: 60px;
    }

    .time_inner_desc {
        height: 45px;
        font-size: 14px;
    }

    .goto {
        margin-top: 10px;
    }

    .goto p {
        font-size: 18px;
    }

    .goto a {
        margin-top: 10px;
    }

    footer {
        height: 120px;
    }

    .inner_footer {
        width: 440px;
    }

    .log_inp {
        height: 60px;
    }

    .log_inp input {
        padding: 0 0 0 27px;
        font-size: 17px;
    }

    .log_btn {
        width: 43px;
        height: 43px;
    }

    /**/

    .btn_event {
        position: absolute;
        padding: 0;
        width: 160px;
        height: 30px;
        right: 120px;
    }

    .btn_event a {
        font-size: 20px;
    }

    .title2 {
        font-size: 60px;
    }

    .row {
        height: 60%;
        flex-direction: row;
    }

    .line_block {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 85px;
        height: 100%;
        padding: 15px 0;
    }

    .line_num {
        width: 42px;
        height: 42px;
        font-size: 36px;
    }

    .line_text {
        height: 100%;
        padding: 15px 0;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 20px;
    }

    .line_inner_desc_back a {
        width: 220px;
        height: 60px;
        font-size: 16px;
    }

    .line_inner_desc_back p {
        width: 220px;
        font-size: 16px;
    }

    .line_inner_desc_back h1 {
        width: 220px;
        font-size: 20px;
    }

}

@media screen and (min-width: 1600px) {

    .main_back1 {
        width: 450px;
        height: 380px;
        background-image: url("../images/main1_back.svg");
    }

    .main_back2 {
        width: 470px;
        height: 350px;
        background-image: url("../images/main2_back.svg");
    }

    .logo {
        margin-top: 100px;
    }

    .icon1_img {
        width: 60px;
        height: 60px;
    }

    .icon2_img {
        width: 113px;
        height: 47px;
    }

    .title h1 {
        margin-top: 30px;
        font-size: 72px;
    }

    .title p {
        width: 55%;
        font-size: 18px;
    }

    .timer {
        width: 30%;
    }

    .time_twopoint {
        font-size: 72px;
    }

    .time_num {
        font-size: 72px;
    }

    .time_inner_desc {
        height: 55px;
        font-size: 16px;
    }

    .goto {
        margin-top: 20px;
    }

    .goto p {
        font-size: 18px;
    }

    .goto a {
        margin-top: 10px;
    }

    footer {
        height: 120px;
    }

    .inner_footer {
        width: 440px;
    }

    .log_inp {
        height: 60px;
    }

    .log_inp input {
        padding: 0 0 0 27px;
        font-size: 18px;
    }

    .log_btn {
        width: 43px;
        height: 43px;
    }

    /**/

    .btn_event {
        position: absolute;
        padding: 0;
        width: 160px;
        height: 30px;
        right: 120px;
    }

    .btn_event a {
        font-size: 20px;
    }

    .title2 {
        font-size: 72px;
    }

    .row {
        height: 70%;
        flex-direction: row;
    }

    .line_block {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        width: 85px;
        height: 100%;
        padding: 15px 0;
    }

    .line_num {
        width: 42px;
        height: 42px;
        font-size: 42px;
    }

    .line_text {
        height: 100%;
        padding: 15px 0;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 32px;
    }

    .line_inner_desc_back a {
        width: 256px;
        height: 62px;
        font-size: 18px;
    }

    .line_inner_desc_back p {
        width: 256px;
        font-size: 18px;
    }

    .line_inner_desc_back h1 {
        width: 256px;
        font-size: 24px;
    }

}